.textHeader {
  color: #eaeef3;
  text-align: center;
  margin: 4rem;
}
.textChoose {
  color: #eaeef3;
  text-align: center;
}
.headerMargin {
  margin: 2rem;
}
.textHeader:hover {
  color: #2e8b57;
  cursor: pointer;
}
